.services-section {
  /* background-color: #ffffff; */
  color: white;
  padding: 100px 40px 100px;
  border-radius: 100px;
  margin: 0 30px 40px;
  overflow: hidden;
  text-align: center;
}

.services-title {
  /* font-family: monospace; */
  font-family: "Inter", sans-serif;
  color: black;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.carousel-wrapper {
  max-width: 80%;
  height: 500px; /* Fixed height */
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 1s ease-in-out;
  height: 100%;
}

.carousel-card {
  min-width: 100%;
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  overflow: hidden;
  opacity: 0.7;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  transform: scale(1); /* default */
}

.carousel-card.prev {
  transform: scale(0.85); /* shrink while exiting */
  z-index: 0;
  opacity: 0.5; /* fade out */
}

.carousel-card.active {
  transform: scale(1); /* full size */
  z-index: 1;
  opacity: 1;
}
/* .service-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
} */

/* Prevent size from shifting */
/* .carousel-card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.service-video {
  width: 100%;
  /* height: 50%; */
  object-fit: contain;
  border-radius: 30px;
  /* box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3); */
}

.service-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

/* Service Label */
.service-label {
  background-color: #cfcfcf;
  color: #000;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  padding: 8px 20px;
  border-radius: 999px;
  display: inline-block;
  margin-top: 24px;
}

/* Service Subheading */
.service-subheading {
  max-width: 600px;
  margin: 24px auto 0;
  font-size: 18px;
  color: #2c2b2b;
  line-height: 1.6;
  padding: 0 20px;
}

/* Description */
.service-description {
  max-width: 600px;
  margin: 24px auto 0;
  font-size: 16px;
  color: #504f4f;
  line-height: 1.6;
  padding: 0 20px;
}

/* Responsive */
@media (max-width: 768px) {
  .services-section {
    padding: 60px 20px 80px;
    border-radius: 30px;
    margin: 0 15px 20px;
  }

  .services-title {
    font-size: 24px;
    margin-bottom: 0;
  }

  .carousel-wrapper {
    height: 250px;
    max-width: 300px;
  }

  .service-description {
    font-size: 14px;
  }
}
