/* .footer-wrapper {
    background-color: #000;
}; */


.footer-container {
  background-color: #f4f4f4;
  border-radius: 100px;
  margin: 2.5%;
  color: black;
  font-family: 'Inter', sans-serif;
}

.footer-tag {
  color: black;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
}

.footer-email {
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  word-break: break-word;
}

.footer-description {
  color: black;
  font-size: 0.95rem;
  line-height: 1.6;
  font-weight: 300;
  margin-top: 1rem;
  max-width: 400px;
}

.footer-credit {
  font-size: 0.9rem;
  color: black;
  margin-top: 1.5rem;
}

.footer-brand {
  color: black;
  font-weight: bold;
}

.footer-links li {
  color: gray;
  font-size: 1.1rem;
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.footer-links li:hover {
  color: #000000;
}

.footer-social-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: end;
  margin-bottom: 1rem;
  color: black;
}

.footer-icons {
 justify-content: end;
}

.footer-icons i {
  font-size: 1.5rem;
  color: black;
  transition: color 0.3s;
}

.footer-icons i:hover {
  color: black;
}

.footer-logo {
  font-size: 3rem;
  font-family: 'Inter', sans-serif;
  color: black;
  font-weight: 500;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

.footer-copy {
  color: #000;
  font-size: 0.85rem;
}

@media (max-width: 992px) {
  .footer-container{
    border-radius: 30px;
  }

  .footer-social-title{
    text-align: center;
  }

  .footer-icons{
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .footer-email {
    font-size: 1rem;
  }
}